.App {
  text-align: center;
}

.wrapper {
  background-image: url(./img/PinClipart.com_phone-images-clip-art_360232.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  width: 315px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px 40px 20px;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

h1 {
  color: #1485c8;
  margin: 0;
  padding: 0;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
}

h2 {
  color: #1485c8;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px 2px rgba(150, 150, 150, 1);
}
