.contactItemsList {
  margin: 0;
  padding: 0;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactItem {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1485c8;
  text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
}

.contactDelete {
  font-family: "Heebo", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
}
